{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1 style=' font-family: "Parisienne", cursive; font-weight: font-family: "Parisienne", cursive; 400; font-style: normal;  padding-top: 3rem; color: #441442; text-align: center;' >Produit {{ produit.nom }}</h1>

    <table class="table">
        <tbody>
          
            <tr>
                <th>Nom du produit</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description du produit</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Image de mise en avant</th>
                <td><img width="200" src="{{ asset('/uploads/images/') ~ produit.image1}}" alt=""></td>
            </tr>
            <tr>
                <th>Image numéro 2</th>
                <td><img width="200" src="{{ asset('/uploads/images/') ~ produit.image2}}" alt=""></td>    
            </tr>
            <tr>
                <th>Image numéro 3</th>
                <td><img width="200" src="{{ asset('/uploads/images/') ~ produit.image3}}" alt=""></td>
            </tr>
            <tr>
                <th>Date de début de la promotion</th>
                <td>{{ produit.dateDebut ? produit.dateDebut|date('d-m-y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin de la promotion</th>
                <td>{{ produit.dateFin ? produit.dateFin|date('d-m-y') : '' }}</td>
            </tr>
            <tr>
                <th>Prix en euro</th>
                <td>{{ produit.prix }}€</td>
            </tr>
        </tbody>
    </table>

    <a id='btn' href="{{ path('app_produit_index') }}">Retour</a>

    <a id='btn' href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
